<form (submit)="submit()">
  <modal (onHide)="hideModal($event)">
    <h5 modal-title>Editar Categoria - {{ category.name }}</h5>
    <div modal-body>
      <div class="form-group">
        <label for="name">Nome</label>
        <input [(ngModel)]="category.name" type="text" class="form-control" name="name" id="name"
               placeholder="Insira um nome">
      </div>
    </div>
    <div modal-footer>
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      <button type="submit" class="btn btn-primary">Salvar</button>
    </div>
  </modal>
</form>
