<alert-error *ngIf="showMessageError">Credenciais inválidas</alert-error>
<form class="form-signin" (submit)="submit()">
    <h1 class="h3 mb-3 font-weight-normal">Code Shopping - Login</h1>
    <input [(ngModel)]="credentials.email" type="email" id="email" name="email" class="form-control" placeholder="Digite seu e-mail" required autofocus>
    <input [(ngModel)]="credentials.password" type="password" id="password" name="password" class="form-control" placeholder="Digite sua Senha" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
</form>
